.description {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap16) var(--gap8);
  border: 1px solid var(--gray4);
  border-radius: var(--gap8);
  background-color: white;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.05);
}



.description p {
  font-size: var(--fs16);
  font-weight: 700;
}

.description div {
  font-size: var(--fs16);
}

.description i {
  font-size: var(--fs16);
  color: var(--gray6);
  margin-left: var(--gap8);
  cursor: pointer;
}