.moneyDesc {
  display: flex;
  flex-direction: column;
  width: 45%;
  border-radius: var(--gap8);
  font-size: var(--fs24);
  font-weight: 700;
}

.moneyDesc h2 {
  margin-bottom: var(--gap12);
}

.emptyText {
  font-size: var(--fs16);
  font-weight: 400;
  margin-top: var(--fs16);
}

.descList {
  margin-top: var(--fs12);
  overflow-y: scroll;
  height: 230px;
  display: flex;
  flex-direction: column;
  gap: var(--gap8);
  padding: var(--gap8) 0;
  padding-right: var(--gap8);
  border-radius: var(--gap12);
}

.descList::-webkit-scrollbar {
  width: 4px;
}

.descList::-webkit-scrollbar-thumb {
  background-color: var(--gray3);
  border-radius: var(--gap12);
}

.descList::-webkit-scrollbar-track {
  background-color: var(--gray1);
}

@media (max-width: 768px) {
  .moneyDesc {
    width: 100%;
  }
  .descList{
    padding-right: var(--gap8);
  }

}