main {
  display: flex;
  flex-direction: column;
  gap: var(--gap32);
}

.sub-header {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gap64);
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 0 var(--gap64);
}

@media (max-width: 768px) {
  main {
    width: 100%;
  }
  .sub-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: var(--gap16);
  }

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: var(--gap32);
  }
}
