@charset 'utf-8';
@import url('https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css');
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
    format('woff');
  font-weight: 400;
  font-style: normal;
}

:root {
  font-family: 'Pretendard-Regular';
  --main-color: #8646f2;
  --sub-color4: #9d6bf3;
  --sub-color3: #b591f7;
  --sub-color2: #ceb5f9;
  --sub-color1: #e6dbfd;

  --main-red: #ff5151;
  --main-blue: #459ff3;
  --main-green: #2ae45e;
  --main-yellow: #ffce4f;

  --gray6: #2a2a3a;
  --gray5: #484a64;
  --gray4: #7f85a3;
  --gray3: #c0c5dc;
  --gray2: #ebedf8;
  --gray1: #f6f7fe;

  color: var(--gray7);

  --fs8: 8px;
  --fs10: 10px;
  --fs12: 12px;
  --fs16: 16px;
  --fs20: 20px;
  --fs24: 24px;
  --fs28: 28px;
  --fs32: 32px;
  --fs64: 64px;
  --gap8: 8px;
  --gap12: 12px;
  --gap16: 16px;
  --gap32: 32px;
  --gap64: 64px;
  --gap92: 92px;
  --gap128: 128px;
  line-height: 1.4;
}

* {
  box-sizing: border-box;
}
body {
  background-color: var(--gray1);
  margin: 0 auto;
  height: 100vh;
  width: 100vw;
  padding-top: var(--gap32);
  
}

.mw {
  max-width: 1200px;
  width: calc(100% - 32px);
  margin: 0 auto;
}
